<div class="container">
    
    <h1 class="m-5">Showing selected article</h1>
    
    <div class="row">
        <div class="col-6 mx-auto">  
            <h4>
                Title: <%= @article.title %>
            </h4>
            <p class="lead text-left">
                Description: <br> 
                <%= @article.description %>
            </p>
        </div>
    </div>
</div>