<h1 class="text-center">About this blog</h1>

<div id="about"></div>
<div class="container">
    <p class="lead">This is an exercise project for me to practice Ruby on Rails</p>
    <small>Updated: 21 Jul 2018</small>
</div>

<%#= link_to image_tag('bunny.jpg', :class=> 'bunny_img'), 'https://www.google.com' %>

<%= render 'layouts/footer' %>