<div class="full-window">
    <div id="header">
    
    </div>
</div>

<div class="container">
    <h1>Welcome to Home Page</h1>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora autem, sequi fugiat recusandae fuga voluptatem facere nulla ad dicta possimus, minus id aperiam temporibus, suscipit ipsam, architecto pariatur illum quos.</p>
    
    <%= link_to 'About', about_path %>
    
</div>