<section>
    <div id="header">
    
    </div>
</section>

<div class="container text-center">
    <h1>Welcome to Julie's Blog</h1>
    
    <%= link_to "Sign Up Now", "#", class:"btn btn-outline-secondary btn-lg" %>
    
</div>